@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

body{
  margin: 0;
  height: 100vh;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-fmily: consolas;
}

.card{
  position: relative;
  cursor: pointer;
  width: 300px;
}

.face1{
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #333;
  diplay: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 1;
}

.card:hover.face{
  background-color: #ff0057;
  
